body
{
    background-color: lemonchiffon;
}

#separateur
{
    width: 101.53%;
    height: 1px;
    margin-left: -1%;
}

#banniere
{
	height: 270px;
    margin-top: 2%;
    background-position-x: center;
    background-image: url(../images/sanfrancisco.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#on_ban
{
    border: 2px solid black;
    margin-top: -3%;
    padding: 10px;
    background: black;
    opacity: 0.5;
    color: white;
}

#button_article
{
    position: absolute;
    background: url(../images/fond_degraderouge.png);
    border: none;
    border-radius: 12px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    margin-top: -3.8%;
    margin-left: 90%;
    color: ivory;
}

ul
{
    display: flex;
    justify-content: space-between;
    margin-top: -5%;
    margin-left: 70%;
    margin-right: 3%;
}

a:link
{
    text-decoration: none;
    color: white;
}

li
{
    list-style-type: none;
}

.link
{
    background-color: cornflowerblue;
    border: none;
    border-radius: 12px;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
}

h1
{
    margin-left: 2%;
}

article
{
    margin-right: 40%;
    margin-left: 4%;
}

aside
{
    border: 2px;
    padding: 2em;
    margin-right: 5%;
    margin-left: 70%;
    margin-top: -40%;
    text-align: justify;
    background-color: gray;
}

#bulle
{
    position: absolute;
    margin-left: 68%;
    margin-top: -25%;
    height: 25px;
}

h3
{
    text-align: center;
}

#zozor
{
    position: relative;
    margin-left: 25%;
}

#social
{
    display: flex;
    justify-content: space-between;
}

#pdp
{
    width: 101.53%;
    height: 1px;
    margin-top: 4%;
    margin-left: -1%;
}