
#bloc_page
{
    width: 900px;
    margin: auto;
}

body
{
    background-color: lemonchiffon;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color: #181818;
}

@font-face
{
    font-family: 'BallparkWeiner';
    src: url('../polices/ballpark.eot');
    src: url('../polices/ballpark.eot?#iefix') format('embedded-opentype'),
         url('../polices/ballpark.woff') format('woff'),
         url('../polices/ballpark.ttf') format('truetype'),
         url('../polices/ballpark.svg#BallparkWeiner') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Dayrom';
    src: url('../polices/dayrom.eot');
    src: url('../polices/dayrom.eot?#iefix') format('embedded-opentype'),
         url('../polices/dayrom.woff') format('woff'),
         url('../polices/dayrom.ttf') format('truetype'),
         url('../polices/dayrom.svg#Dayrom') format('svg');
    font-weight: normal;
    font-style: normal;
}

section h1, footer h1,
{
    font-family: Dayrom, serif;
    font-weight: normal;
    text-transform: uppercase;
}

#separateur
{
    width: 101.53%;
    height: 1px;
    margin-left: -1%;
}

#banniere
{
	height: 270px;
    margin-top: 2%;
    background-position-x: center;
    background-image: url(../images/sanfrancisco.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#on_ban
{
    border: 2px solid black;
    margin-top: -3%;
    padding: 10px;
    background: black;
    opacity: 0.5;
    color: white;
}

#button_article
{
    position: absolute;
    background: url(../images/fond_degraderouge.png);
    border: none;
    border-radius: 12px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    margin-top: -3.8%;
    margin-left: 90%;
    color: ivory;
}

#liste1
{
    display: flex;
    justify-content: space-between;
    margin-top: -5%;
    margin-left: 70%;
    margin-right: 3%;
}

a:link
{
    text-decoration: none;
    color: white;
}

li
{
    list-style-type: none;
}

.link
{
    background-color: cornflowerblue;
    border: none;
    border-radius: 12px;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
}

h1
{
    margin-left: 2%;
}

article
{
    text-align: justify;
    margin-right: 40%;
    margin-left: 4%;
}

aside
{
    border: 2px;
    padding: 2em;
    margin-right: 5%;
    margin-left: 70%;
    margin-top: -40%;
    text-align: justify;
    background-color: gray;
}

#bulle
{
    position: absolute;
    margin-left: 68%;
    margin-top: -25%;
    height: 25px;
}

aside
{
    color: whitesmoke;
    margin-top: -42.5%;
}

h3
{
    text-align: center;
}

#zozor
{
    position: relative;
    margin-left: 25%;
}

#social
{
    display: flex;
    justify-content: space-between;
}

#top
{
    margin-left: 45%;
    margin-top: -5px;
}

#pdp
{
    width: 101.53%;
    height: 1px;
    margin-top: 4%;
    margin-left: -1%;
}

#pdp2
{
    margin-right: 80%;
    margin-left: 5%;
}

#pdp3
{
    position: absolute;
    margin-top: -10.2%;
    margin-left: 33%;
}

.liste2
{
    display: flex;
    justify-content: space-between;
}

#pdp4
{
    position: absolute;
    display: flex;
    margin-top: -10.2%;
    margin-left: 65%;
}